<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">AI Subject</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="SCJON|NAUS|PRO">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Client Request Subject</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="[EXTERNAL] SCJON REQUEST">
      </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Project</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ME 1010101">
      </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Region</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>ASPAC</option>
        <option>NAUS</option>
        <option>EMEA</option>
        <option>LATAM</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Project Type</label>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>PRO</option>
        <option>CORE</option>
        <option>LS</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">History</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>